.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: #1a4d2e;

  z-index: 999;
  padding: 18px 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
}

.menuBtn svg {
  width: 34px;  
  height: 28px;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.menuBtn svg rect {
  fill: white;
}

.logoContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logoContainer img {
  width: 170px;
  height: auto;
}

.ctaBtn a {
  padding: 14px 22px;
  border-radius: 8px;
  background: white;
  font-family: 'Courier New', Courier, monospace;
  color: #4d6e22;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #4d6e22;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.ctaBtn a:hover {
  opacity: 0.85;
}