

.main {
  margin-top: 450px;
}


.mapSection {
  padding: 40px 0;
}

.mapContainer {
  position: relative;
  width: 90%;
  max-width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.petaImg {
  width: 100%;
  height: 100%;
  object-fit: contain; /* biar pas container */
  display: block;
}

/* Canvas marker */
.map-marker {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.map-marker img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.marker-tuban {
  top: 13%;
  left: 29%;
}

.marker-surabaya {
  top: 25%;
  left: 46%;
}
